@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

.app {
  width: 1342px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
