.card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 344px;
  padding: 16px;
  background-color: var(--background);
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: var(--on_background);
  opacity: var(--elevation);
}

.overlay:hover {
  opacity: var(--hover);
}

.overlay:active {
  opacity: var(--elevation);
}

.card__text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--on_background);
  opacity: var(--high);
}

.card__title {
  font-weight: bold;
  font-size: 18px;
}

.card__desc {
  opacity: var(--medium);
  line-height: 1.4rem;
}

.card__icon {
  width: 80px;
  height: 80px;
}