@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");

:root {
  --background: #121212;
  --on_background: #fff;
  --high: 0.87;
  --medium: 0.60;
  --disabled: 0.38;
  --elevation: 0.05;
  --hover: 0.10;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

.app {
  display: flex;
}

.container {
  width: 1342px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.notes {
  display: flex;
}